.index-h1{ 
    color:rgb(9, 9, 85)  }
    body{ 
        background-color: rgb(245, 242, 197);
    }
    
header { margin-inline: 100px;} 
header {text-align-last: center; }
.index-h1{
    text-decoration: underline;}
header {word-spacing: 100px;}
p{text-indent: 10px;}
.fa-brands{
    width: 30px;
    height: 50px;}
    .index-div{ text-align-last: center; }
    .index-div{word-spacing: 50px;}
    .index-div1{ text-align-last: center;}
    .index-div1{ word-spacing: 50px;}
    .index-div{ font-size: x-large;}
    .index-div{ margin-inline: 100px;}
    .index-div{color: rgb(217, 238, 25);}
        .index.div2 {text-align-last: center; }
        .index.div2{word-spacing: 50px;}
        .index.div3{text-align-last: center;}
        .index.div3{word-spacing: 50px;}
        .
    .
    